<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="sale_coupon_rule_menu"
                name="Coupon Rule"
                parent="sale.product_menu_catalog"
                action="sync_sale_coupon.sale_coupon_rule_action"
                groups="sales_team.group_sale_manager"
                sequence="10"/>
</odoo>